<ul>
    <li>
      <img src="https://avatars.githubusercontent.com/u/69631?v=4" alt="Facebook - codemod" />
      <span>
          <strong>codemod</strong>
          <p>Codemod is a tool/library to assist you with large-scale codebase refactors that can be partially automated but still require human oversight and occasional intervention. Codemod was developed at Facebook and released as open source.</p>
          <a href="https://github.com/facebook/codemod" target="_blank">Acesso ao repositório</a>
      </span>
  </li>
</ul>
